<% content_for :title, t(".title") %>

<section class="grid_2 search-results">
  <h1><%= t(".title") %></h1>
  <section class="counter"><%= @items.total_entries %></section>
</section>
<section class="grid_8">
  <% for item in @items do %>
    <article>
      <header>
        <%= link_to item.title, item %><span><%= item.user.name %></span>
      </header>
      <section id="item-<%= item.id %>-html"><%= item.html.html_safe %></section>
    </article>
  <% end %>
  <%= paginate @items %>
</section>
<section class="grid_2">
  &nbsp;
</section>

