<% content_for :title, t(".title") %>

<% if params[:page].blank? %>
  <section class="event container_12 clearfix">
    <section class="grid_2">
      <h2>Интересное событие</h2>
    </section>
    <section class="grid_2">
    <%= link_to image_tag('railsclub301x90.png', :size => '301x90'), 'http://railsclub.ru/' %>
    </section>
    <section class="grid_6">
      <p>
        <strong>RailsClub’Moscow 2012</strong> соберет вместе ведущих российских и известных иностранных Ruby разработчиков, которые поделятся с участниками конференции своими знаниями и опытом, обсудят новинки разработки, расскажут о возникших проблемах в работе и методах их решений.
      </p>
      <ul>
        <li>15 сентября 2012, центр Digital October</li>
        <li><%= link_to 'Официальная страница', 'http://railsclub.ru/' %></li>
      </ul>
    </section>
  </section>
<% end %>

<% if !@items.blank? %>
  <% @items.group_by{ |item| item.created_at.to_date }.each do |created_at, items| %>
  <section class="day container_12 clearfix">
    <time datetime="<%= created_at.to_s(:db) %>" pubdate="pubdate" class="grid_2">
      <span class="date-day"><%= created_at.strftime("%d") %></span><span class="date-month">.<%= created_at.strftime("%m") %></span> <span class="date-year"><%= created_at.strftime("%Y") %></span>
    </time>
    <section class="articles grid_8">
      <% for item in items %>
      <article>
        <header>
          <%= link_to item.title, item %><span><%= item.author_name %></span>
        </header>
        <aside>
          <ul>
            <li><a href="#" onclick="Evernote.doClip({styling:'none',suggestNotebook:'rubyflow.ru',providerName:'rubyflow.ru',contentId:'item-<%= item.id %>-html',url:'<%= item_url(item) %>',title:'<%= escape_javascript item.title %>'}); return false;"><img src="http://static.evernote.com/site-mem-16.png" alt="Сохранить в Evernote" style="vertical-align:bottom"></a></li>
          </ul>
        </aside>
        <%=raw item.html %>
        <% if !item.comments.blank? %>
        <section class="comments clearfix">
          <header class="grid_2"><%= link_to t(".comments"), item_url(item, :anchor => "comments") %></header>
          <section class="grid_6">
            <article class="comment">
              <header>
                <time datetime="<%= item.comments.last.created_at.to_s(:db) %>" pubdate="pubdate"><%= item.comments.last.created_at.strftime("%d.%m.%Y") %></time>
                <%= item.comments.last.user.name %>
              </header>
              <%=raw item.comments.last.html %>
            </article>
          </section>
        </section>
        <% end %>
      </article>
      <% end %>
    </section>
  </section>
  <% end %>
  <%= paginate @items %>
<% end %>
