<% content_for :title, t(".title") %>

<% if params[:page].blank? %>	 	
  <section class="event container_12 clearfix">
    <section class="list grid_2">
      <ul>
        <li class="current" onclick="$('li.current').removeClass('current'); $(this).addClass('current'); $('.slide.current').removeClass('current').hide(); $('#rubyc').addClass('current').show();">
          <a href="#">RubyC</a><br />
          5-6 ноября<br />
          Киев, Украина
        </li>
        <li onclick="$('li.current').removeClass('current'); $(this).addClass('current'); $('.slide.current').removeClass('current').hide(); $('#rupy').addClass('current').show();">
          <a href="#">RuPy</a><br />
          14-16 октября<br />
          Познань, Польша
        </li>
        <li onclick="$('li.current').removeClass('current'); $(this).addClass('current'); $('.slide.current').removeClass('current').hide(); $('#apps4russia').addClass('current').show();">
          <a href="#">Apps4Russia</a><br />
          30 июня - 15 октября<br />
          Россия
        </li>
      </ul>
    </section>	 	
    <section class="grid_8">
      <article id="rubyc" class="slide current">
        <p><img src="/images/RubyC620х96.jpg" class="banner" /></p>
        <p>RubyC — это двух-дневное мероприятие по технологии Руби и сопутствующим технологиям веб-разработки. Мероприятие соберет лучших рубистов не только из Украины, но из СНГ и Европы.</p>
        <p>В этом году на RubyC можно будет увидеть и услышать таких гуру технологии Руби как Стив Клабник, Райан Бигг и Пат Аллан.</p>
        <ul>
          <li>5-6 ноября, Киев, Украина.</li>
          <li>Сайт: <a href="http://rubyc.eu">rubyc.eu</a></li>
          <li>Твиттер: <a href="http://twitter.com/rubyc_eu">@rubyc_eu</a></li>
        </ul>
      </article>
      <article id="rupy" class="slide" style="display:none">
        <p><img src="/images/RuPy620x120.png" class="banner" /></p>
        <p>Конференция RuPy посвященна двум великолепным языкам Ruby и Python. Впервые проведенная конференция в 2007 году собрала большое количество энтузиастов из Польши и других стран.</p>
        <p>Это будет одна из крупнейших конференций с посещением ~400 человек. Приглашены звезды сообщества: Yehuda Katz, Ezra Zygmuntowicz, Xavier Noria, Obie Fernandez, José Valim.</p>
        <ul>
          <li>14-16 октября, Познань, Польша.</li>
          <li>Сайт: <a href="http://rupy.eu/">rupy.eu</a></li>
          <li>Твиттер: <a href="http://twitter.com/rupy">@rupy</a></li>
        </ul>
      </article>
      <article id="apps4russia" class="slide" style="display:none">
        <p><img src="/images/Apps4Russia620x80.gif" class="banner" /></p>
        <p>Apps4Russia – это конкурс для разработчиков приложений и веб-сайтов по созданию проектов основанных на открытых государственных данных и использованию их для общественной пользы и большей прозрачности государства.</p>
        <ul>
          <li>Сайт: <a href="http://www.apps4russia.ru/">www.apps4russia.ru</a></li>
          <li>Твиттер: <a href="http://twitter.com/apps4russia">@apps4russia</a></li>
        </ul>
      </article>
    </section>	 	
  </section>  
<% end %>

<% if !@items.blank? %>
  <% @items.group_by{ |item| item.created_at.to_date }.each do |created_at, items| %>
  <section class="day container_12 clearfix">
    <time datetime="<%= created_at.to_s(:db) %>" pubdate="pubdate" class="grid_2">
      <span class="date-day"><%= created_at.strftime("%d") %></span><span class="date-month">.<%= created_at.strftime("%m") %></span> <span class="date-year"><%= created_at.strftime("%Y") %></span>
    </time>
    <section class="articles grid_8">
      <% for item in items %>
      <article>
        <header>
          <%= link_to item.title, item %><span><%= item.author_name %></span>
        </header>
        <aside>
          <ul>
            <li><a href="#" onclick="Evernote.doClip({styling:'none',suggestNotebook:'rubyflow.ru',providerName:'rubyflow.ru',contentId:'item-<%= item.id %>-html',url:'<%= item_url(item) %>',title:'<%= escape_javascript item.title %>'}); return false;"><img src="http://static.evernote.com/site-mem-16.png" alt="Сохранить в Evernote" style="vertical-align:bottom"></a></li>
          </ul>
        </aside>
        <%=raw item.html %>
        <% if !item.comments.blank? %>
        <section class="comments clearfix">
          <header class="grid_2"><%= link_to t(".comments"), item_url(item, :anchor => "comments") %></header>
          <section class="grid_6">
            <article class="comment">
              <header>
                <time datetime="<%= item.comments.last.created_at.to_s(:db) %>" pubdate="pubdate"><%= item.comments.last.created_at.strftime("%d.%m.%Y") %></time>
                <%= item.comments.last.user.name %>
              </header>
              <%=raw item.comments.last.html %>
            </article>
          </section>
        </section>
        <% end %>
      </article>
      <% end %>
    </section>
  </section>
  <% end %>
  <%= paginate @items %>
<% end %>
