<% content_for :title, t(".title") %>

<% if !@items.blank? %>
  <% @items.group_by{ |item| item.created_at.to_date }.each do |created_at, items| %>
  <section class="day container_12 clearfix">
    <time datetime="<%= created_at.to_s(:db) %>" pubdate="pubdate" class="grid_2">
      <span class="date-day"><%= created_at.strftime("%d") %></span><span class="date-month">.<%= created_at.strftime("%m") %></span> <span class="date-year"><%= created_at.strftime("%Y") %></span>
    </time>
    <section class="articles grid_8">
      <% for item in items %>
      <article>
        <header>
          <%= link_to item.title, item %><span><%= item.author_name %></span>
        </header>
        <aside>
          <ul>
            <li><a href="#" onclick="Evernote.doClip({styling:'none',suggestNotebook:'rubyflow.ru',providerName:'rubyflow.ru',contentId:'item-<%= item.id %>-html',url:'<%= item_url(item) %>',title:'<%= escape_javascript item.title %>'}); return false;"><img src="http://static.evernote.com/site-mem-16.png" alt="Сохранить в Evernote" style="vertical-align:bottom"></a></li>
          </ul>
        </aside>
        <%=raw item.html %>
        <% if !item.comments.blank? %>
        <section class="comments clearfix">
          <header class="grid_2"><%= link_to t(".comments"), item_url(item, :anchor => "comments") %></header>
          <section class="grid_6">
            <article class="comment">
              <header>
                <time datetime="<%= item.comments.last.created_at.to_s(:db) %>" pubdate="pubdate"><%= item.comments.last.created_at.strftime("%d.%m.%Y") %></time>
                <%= item.comments.last.user.name %>
              </header>
              <%=raw item.comments.last.html %>
            </article>
          </section>
        </section>
        <% end %>
        <% if can? :manage, item %>
        <ul class="admin-buttons">
          <li><%= link_to(icon_tag("item-edit"), edit_item_url(item)) if can?(:edit, item) %></li>
          <li><%= link_to(icon_tag("item-remove"), item_url(item), :method => :delete, :confirm => t("layouts.commons.destroy_confirmation", :subject => item.title)) if can?(:destroy, item) %></li>
        </ul>
        <% end %>
      </article>
      <% end %>
    </section>
  </section>
  <% end %>
  <%= will_paginate @items, :previous_label => t(".previous"), :next_label => t(".next") %>
<% end %>
