<% content_for :title, @item.title %>
<% content_for :meta_description, @item.title %>
<% content_for :meta_author, @item.user.name %>


<section class="grid_2 day">
  <time datetime="<%= @item.created_at.to_s(:db) %>" pubdate="pubdate">
    <span class="date-day"><%= @item.created_at.strftime("%d") %></span><span class="date-month">.<%= @item.created_at.strftime("%m") %></span> <span class="date-year"><%= @item.created_at.strftime("%Y") %></span>
</time>
</section>
<section class="grid_8">
  <article>
    <header>
      <%= @item.title %><span><%= @item.user.name %></span>
    </header>
    <aside>
      <ul>
        <li><a href="#" onclick="Evernote.doClip({styling:'none',suggestNotebook:'rubyflow.ru',providerName:'rubyflow.ru',contentId:'item-<%= @item.id %>-html',url:'<%= item_url(@item) %>',title:'<%= escape_javascript @item.title %>'}); return false;"><img src="http://static.evernote.com/site-mem-16.png" alt="Сохранить в Evernote" style="vertical-align:bottom"></a></li>
      </ul>
    </aside>
    <section id="item-<%= @item.id %>-html"><%= @item.html.html_safe %></section>
    <section class="comments clearfix">
      <header class="grid_2"><a name="comments"></a>Комментарии</header>
      <section class="grid_6">
        <% for comment in @item.comments %>
          <%= render comment %>
        <% end %>
        <% if can?(:create, Comment) %>
          <section id="item-<%= @item.id %>-new-comment" class="new-comment">
            <%= render(:partial => "comments/new", :locals => { :item => @item, :comment => @item.comments.new }) %>
          </section>
          <p><%= link_to "#{icon_tag("comment-add")} #{t(".new_comment")}".html_safe, nil, :onclick => "$('#item-#{@item.id}-new-comment').slideDown('slow');$(this).hide('fast');return false;", :class => "link-with-icon" %></p>
        <% else %>
          <%= t(".please_sign_in_to_add_comment") %> <%= link_to t("layouts.application.sign_in"), sign_in_url %>
        <% end %>
      </section>
    </section>
  </article>
</section>