<!DOCTYPE html>
<html lang="<%= I18n.locale -%>">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag "application", "form", :cache => true %>
    <%= csrf_meta_tag %>
    <title><%= "#{yield(:title)} &mdash; ".html_safe unless yield(:title).blank? -%><%= t('.title') -%></title>
  </head>
  <body>
    <section id="flash" class="flash" style="display:none;"><%= flash_messages %></section>
    <header id="header" class="container_12 clearfix">
      <section class="logo grid_2"><%= link_to_if !current_page?(root_url), "Ruby<span>Flow</span>".html_safe, root_url %></section>
      <section class="menu grid_8">
        <nav>
          <ul>
            <li><%= link_to t(".new_post") %></li>
            <li><%= link_to t(".vacancies"), "http://rubyjobs.ru" %></li>
          </ul>
        </nav>          
      </section>
      <section class="search form grid_2"><input type="search" name="q" placeholder="Поиск" results="5" /></section>
      <section class="account">
        <%= signed_in? ? link_to(t(".account"), user_url(:current)) : link_to(t(".sign_in"), sign_in_url) %>
      </section>
    </header>    
    <section id="content" class="content container_12 clearfix">
      <%= yield %>
    </section>
    <footer id="footer">
      <section class="container_12 clearfix">
        <section class="grid_2">
          <p>&copy;&nbsp;2008—2010, <a href="http://soulim.com">Alex Soulim</a></p>
          <p>При поддержке хостинг-провайдера <a href="http://locum.ru"><span>locum.ru</span></a></p>
        </section>
        <section class="grid_8">
          &nbsp;
        </section>
        <section class="grid_2">
          &nbsp;
        </section>
      </section>
    </footer>
    <%= javascript_include_tag :defaults, "jquery.flash", :cache => true %>
    <%= yield(:footer_js) %>
  </body>
</html>