<!DOCTYPE html>
<html lang="<%= I18n.locale -%>">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="<%= yield(:meta_description).blank? ? t(".meta_description") : yield(:meta_description) %>" />
    <meta name="keywords" content="<%= yield(:meta_keywords).blank? ? t(".meta_keywords") : yield(:meta_keywords) %>" />
    <meta name="author" content="<%= yield(:meta_author).blank? ? t(".meta_author") : yield(:meta_author) %>" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="RubyFlow.ru" href="http://feedproxy.google.com/rubyflowru" />
    <%= stylesheet_link_tag "reset", "application", "960gs", "form", "icon", "wmd", "code", :cache => true %>
    <%= csrf_meta_tag %>
    <title><%= "#{yield(:title)} &mdash; ".html_safe unless yield(:title).blank? -%><%= t('.title') -%></title>
    <script type="text/javascript">
    function recordOutboundLink(link, category, action) {
      try {
        var myTracker=_gat._getTrackerByName();
        _gaq.push(['myTracker._trackEvent', ' + category + ', ' + action + ']);
        setTimeout('document.location = "' + link.href + '"', 100)
      }catch(err){}
    }
    </script>
  </head>
  <body>
    <section id="flash" class="flash" style="display:none;"><%= flash_messages %></section>
    <header id="header" class="container_12 clearfix">
      <section class="logo grid_2"><%= link_to_if !current_page?(root_url), "Ruby<span>Flow</span>".html_safe, root_url %></section>
      <section class="menu grid_8">
        <nav>
          <ul>
            <li><%= link_to t(".new_item"), new_item_url %></li>
            <li><%= link_to t(".vacancies"), "http://rubyjobs.ru", :onclick => "recordOutboundLink(this, 'Outbound Links', 'rubyjobs.ru');return false;" %></li>
          </ul>
        </nav>          
      </section>
      <section class="search form grid_2">
        <%= form_tag searches_url, :method => :get do %>
          <%= search_field_tag :q, params[:q], :placeholder => t(".search"), :results => 5 %>
        <% end %>
      </section>
      <section class="account">
        <%= signed_in? ? link_to(t(".account"), user_url(current_user)) : link_to(t(".sign_in"), sign_in_url) %>
      </section>
    </header>    
    <section id="content" class="content container_12 clearfix">
      <%= yield %>
    </section>
    <footer id="footer" class="container_12 clearfix">
      <section class="grid_2">
        <p>&copy;&nbsp;2008—2011, <a href="http://soulim.com">Alex Soulim</a></p>
        <p>При поддержке хостинг-провайдера <a href="http://locum.ru" onclick="recordOutboundLink(this, 'Outbound Links', 'locum.ru');return false;"><span>locum.ru</span></a></p>
      </section>
      <section class="grid_8">
        <nav>
          <ul>
            <li><%= link_to t(".about"), page_url(:id => "about") %></li>
            <li><%= link_to t(".contacts"), page_url(:id => "contacts") %></li>
          </ul>
          <% if can?(:manage, :all) %>
          <ul>
            <li><%= link_to t(".users"), users_url %></li>
          </ul>
          <% end %>
        </nav>          
      </section>
      <section class="grid_2">
        <a href="http://www.twitter.com/rubyflowru" style="display:inline-block;margin-right:1em;vertical-align:top;" title="Следуй за @rubyflowru на Twitter"><img src="http://twitter-badges.s3.amazonaws.com/t_small-b.png" alt="Следуй за @rubyflowru на Twitter"/></a>
        <a href="http://feeds.feedburner.com/rubyflowru" style="display:inline-block;vertical-align:top;" title="Подпишись на RSS"><img src="http://feeds.feedburner.com/~fc/rubyflowru?bg=eeeeee&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
      </section>
    </footer>
    <%= javascript_include_tag :defaults, "jquery.flash", "highlight.pack", :cache => true %>  
    <script type="text/javascript">
      $('pre').each(function(i, e) { hljs.highlightBlock(e, '    ')});
    </script>
    <%= yield(:footer_js) %>

    <% if Rails.env.production? %>
      <%= javascript_include_tag "http://static.evernote.com/noteit.js", :cache => false %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-391915-11']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
  </body>
</html>